### IntelliJ IDEA ###
/**/.idea
*.iws
*.iml
*.ipr
/out/

### Gradle ###
.gradle
/**/build/


### Maven ###
/**/target

### Eclipse ###
/**/.settings
/**/*.project
/**/*.classpath
/.metadata
Temp.java

### Others ###

/RemoteSystemsTempFiles
/**/.recommenders
/**/.factorypath
/**/.sonarlint

# 	Note :  if you find some of the files/directory that should be ignored are not getting ignoerd then delete the project from IDE (Eclipse/IntelliJ),
#			then delete those files/directory, and then reimport the project. It should ignore the files/directory that should be ignored.

